{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container p-3">
        <img src="{% static 'images/logof.png' %}" alt="" style="margin: auto; display: block;" width="250px">
        <h2 class="p-4 text-center bg-info text-white">All Record Information</h2>
        <table class="table">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Unique No</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in all_records %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.almatqatu}}</td>
                <td>{{i.contract_number}}</td>
                <td style="width: 40%;">
                    <a href="{% url 'report:single_record' i.id %}" class="btn btn-success btn-sm mt-2">View</a>
                    <a href="{% url 'report:print_record' i.id %}" class="btn btn-primary btn-sm mt-2">Print Preview</a>
                    <button onclick="loadRecord({{i.id}})" class="btn btn-info btn-sm mt-2">Generate PDF</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <hr>
    </div>
    <!-- Add more buttons for other PDFs -->

<div id="pdfContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.3/dist/jspdf.umd.min.js"></script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script>
    function loadRecord(pk) {
        $.ajax({
            url: '/print_record/' + pk + '/',
            method: 'GET',
            success: function(response) {
                // Create a new window/tab and set the HTML content
                var printWindow = window.open('', '_blank');
                printWindow.document.write(response);
                printWindow.document.close();
    
                // Add a CSS style for the print media
                var style = printWindow.document.createElement('style');
                style.innerHTML = `
                    @media print {
                        @page {
                            size: A4;
                            margin: 0;
                        }
                        body {
                            margin: 0;
                        }
                    }
                `;
                printWindow.document.head.appendChild(style);
    
                // Trigger the print functionality
                printWindow.print();
            },
            error: function(xhr, status, error) {
                // Handle any error that occurs during the AJAX request
                console.log('Error:', error);
            }
        });
    }
        
</script>

</body>
</html>